.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;

    + .wrapper {
         margin-left: 8px;
    }
    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title, .title + .icon {
    margin-left: 8px;
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8pxrgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary{
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}

.outline {
    border: 1px solid var(--primary);
    color: var(--primary);
    &:hover {
        color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}



.text{

    &:hover{
        text-decoration: underline;
    }
}
// disabled

// button classes
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}