.menu-list{
    width: 224px;
    .menu-item{
        margin-left: 0 !important;
    }
}
.menu-popper{
    padding-bottom: 8px;
    margin-top: 0 !important;
}


.menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    line-height: 1.8rem;
    padding: 13px 16px;
    &:hover {
        background-color: rgba(22,24,35,0.03);
    }
}

// Header
.header{
    margin-top: -8px;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn{
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0%;
    background-color: transparent;
    cursor: pointer;
}

.header-title{

}
